@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@layer base {
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #2b2a2a;
  }

  ::-webkit-scrollbar-thumb {
    background: #5a5959;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #898989;
  }
  
  body {
    background-color: #110f11;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}

@layer components {
  .glass-effect {
    box-shadow: -65.83333587646484px 65.83333587646484px 65.83333587646484px 0px
      #ffffff08 inset;
    box-shadow: 65.83333587646484px -65.83333587646484px 65.83333587646484px 0px
      #a5a5a508 inset;
    background: rgba(217, 217, 217, 0.033);
    box-shadow: inset 65.8333px -65.8333px 65.8333px rgba(165, 165, 165, 0.033),
      inset -65.8333px 65.8333px 65.8333px rgba(255, 255, 255, 0.033);
    backdrop-filter: blur(49.375px);
    transform: translate(-50%, 0);
  }

  .imgEffectContainer{
    position: relative;
  }

  .imgWithEffect{
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .effect {
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .imgEffectContainer:hover .imgWithEffect {
    opacity: 0.3;
  }
  
  .imgEffectContainer:hover .effect {
    background-color: #110f1184;
    opacity: 1;
  }

  div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

label {
    /* font-size: 13px; */
    @apply text-[10px] md:text-[13px];
    color: #fff;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    /* width: 140px;
    height: 30px; */
    @apply w-24 h-5 md:w-36 md:h-8;
    background:#252525 ;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    /* font-size: 12px; */
    @apply text-[9px] md:text-[12px] top-[2px] md:top-[7px];
    font-weight: 500;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    /* width: 70px;
    height: 25px; */
    @apply w-[3rem] md:w-[4.5rem] h-4 md:h-6 text-[9px] md:text-base px-1 md:px-[5px];
    background:  #3c3c3c;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    /* padding: 5px 0px; */
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    /* width: 50px;
    height: 25px; */
    @apply w-10 h-3 md:w-12 md:h-6 ;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #252525 ;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    @apply left-[50px] md:left-[68px];
    /* left: 68px; */
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    /*background: #66BB6A; */
    /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}


}
